	/*
  	Flaticon icon font: Flaticon
  	Creation date: 27/06/2018 20:45
  	*/

	@font-face {
	    font-family: "Flaticon";
	    src: url("../fonts/mMJ4YEzogeNS.eot");
	    src: url("../fonts/mMJ4YEzogeNS.eot#iefix") format("embedded-opentype"),
	    url("../fonts/s1xJxu0wWg0b.woff") format("woff"),
	    url("../fonts/KpzNruVbxYlB.ttf") format("truetype"),
	    url("../fonts/OzXRWCJUEDCc.svg#Flaticon") format("svg");
	    font-weight: normal;
	    font-style: normal;
	}

	@media screen and (-webkit-min-device-pixel-ratio:0) {
	    @font-face {
	        font-family: "Flaticon";
	        src: url("../fonts/OzXRWCJUEDCc.svg#Flaticon") format("svg");
	    }
	}

	[class^="flaticon-"]:before,
	[class*=" flaticon-"]:before,
	[class^="flaticon-"]:after,
	[class*=" flaticon-"]:after {
	    font-family: Flaticon;
	    font-style: normal;
	}

	.flaticon-cup:before {
	    content: "\f100";
	}

	.flaticon-team:before {
	    content: "\f101";
	}

	.flaticon-worker:before {
	    content: "\f102";
	}

	.flaticon-handshake:before {
	    content: "\f103";
	}

	.flaticon-shield:before {
	    content: "\f104";
	}
